#root {
}

.nav{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: blueviolet;
  padding: 20px 0;
}

.nav a{
  color: antiquewhite;
}
ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
li{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
  padding: 20px;
  margin-bottom: 10px;
}
.pagination{
  width: 100vw;

  text-align: center;
}
.pagination a{
  margin: 30px;
}